.container{
    width: 200px;
    height: 250px;
    border: 2px solid;
    overflow: scroll;
}
.header{
    width: 100%;
    height: 15%;
    background-color: saddlebrown;
    position: sticky;
    top: 0;
}