body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square{
    height: 200px;
    width: 200px;
    border-radius: 10%;
    border-top: 40px solid rebeccapurple;
    border-right: 40px solid blanchedalmond;
    border-bottom: 40px solid rosybrown;
    border-left: 40px solid teal;
    animation: preloader 4s linear infinite alternate;
}
@keyframes preloader{
    from{
        transform: rotate(460deg);
    }
    to{
        transform: rotate(-460deg) scale(2);
    }
}